name: Node JS Build Action

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{inputs.node-version}}
          
      - name: Running Install
        run: make install
        
      - name: Running Link
        run: make lint
        
      - name: Running Test
        run: make test
